<!DOCTYPE html>
{% extends "cpanel/AdminBase.html" %}
{% load static %}
{% load widget_tweaks %}
<body>
        {% block title %}
                <div class="card-header">
                    <div class="d-flex align-items-center">
                        <h5 class="card-title"> <i class="fas fa-edit"></i>Update Item List</h5>
                    </div>
                </div>
        {% endblock title %}

{% block mainblock %}
<section id="services" class="section-padding">
    <div class="container">

                <!-- Search form -->
                <form method="get" id="ItemSearch" data-cities-url="{% url 'ajax_load_ItemModel' %}" >
            {% csrf_token %}
            <div class="well">
                <div class="row">
                    <div class="form-group col-sm-4 col-md-3">
                        {{ filter.form.item_name.label_tag }}
                        {% render_field filter.form.item_name class="form-control" %}
                    </div>
                    <div class="form-group col-sm-4 col-md-3">
                        {{ filter.form.item_model.label_tag }}
                        {% render_field filter.form.item_model class="form-control" %}
                    </div>
                    <div class="form-group col-sm-4 col-md-3">
                        {{ filter.form.acblock.label_tag }}
                        {% render_field filter.form.acblock class="form-control" %}
                    </div>
                    <div class="form-group col-sm-4 col-md-3">
                        {{ filter.form.inst.label_tag }}
                        {% render_field filter.form.inst class="form-control" %}
                    </div>
                    <div class="form-group col-sm-4 col-md-3">
                        {{ filter.form.room_type.label_tag }}
                        {% render_field filter.form.room_type class="form-control" %}
                    </div>
                    <div class="form-group col-sm-4 col-md-3">
                        <h6>Search</h6>
                        <button type="submit" class="btn btn-primary">
                            <span class="glyphicon glyphicon-search"></span> Search
                        </button>
                    </div>
                </div>
            </div>
        </form>

        <div class="card">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Item Name</th>
                        <th scope="col">Model No[Spec]</th>
                        <th scope="col">Block[room no]/Type</th>
                        <th scope="col">Department/User </th>
                        <th scope="col">Qty</th>
                        <th scope="col">DoP</th>
                        <th scope="col">Status</th>
                        <th scope="col">Action</th>           
                     
                    </tr>
                    </thead>
                    <tbody>
                    {% for itm in filter.qs %}
                    <tr>
                        <td>{{ itm.item_name }}</td>
                        <td>{{ itm.item_model }} <p class="text-primary"> [{{ itm.item_configuration }}]</p></td>
                        <td>{{ itm.acblock }} [{{ itm.room }}] : {{ itm.room_type }}</td>
                        <td>{{ itm.inst }}<p class="text-primary">{{ itm.user }}</p></td>
                        
                        <td>{{ itm.item_qty }}</td>
                        <td>{{ itm.purchase_date }}</td>

                        {% if itm.act == 0 %}
                        <td><p class="text-danger">
                        <i  class="material-icons">dangerous </i> </p>
                        </td>
                        {% elif itm.act == 1 %}
                        <td>
                            <p class="text-success">
                            <i  class="material-icons">done </i>
                            </p>
                        </td>
                        {% endif %}
                        <td>
                            <a href="{% url 'update_item_list' itm.id %}" class="edit" id = '{{itm.id}}' title="Edit" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a>
                            <a href="{% url 'Deleteitem' itm.id %}" class="Delete" id = '{{itm.id}}'title="Delete" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a>
                            {% if itm.act == 0 %}
                            <a href="{% url 'item_approved' itm.id %}" class="Delete" id = '{{itm.id}}'title="Approved" data-toggle="tooltip"><i class="material-icons">assignment_turned_in</i></a>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor  %}
                    </tbody>
                </table>
            </div>
        </div>
                <!--Pagination-->
                        <nav aria-label="Page navigation example">
                          <ul class="pagination justify-content-end">
                            {% if item.has_previous %}
                              <li class="page-item">
                                <a class="page-link" href="?page={{ item.previous_page_number }}">Previous</a>
                              </li>
                            {% else %}
                              <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                              </li>
                            {% endif %}
                            {% for i in item.paginator.page_range %}
                              {% if item.number == i %}
                                <li class="page-item active" aria-current="page">
                                  <span class="page-link">
                                    {{ i }}
                                    <span class="sr-only">(current)</span>
                                  </span>
                                </li>
                              {% else %}
                                <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                              {% endif %}
                            {% endfor %}
                            {% if item.has_next %}
                              <li class="page-item">
                                <a class="page-link" href="?page={{ item.next_page_number }}">Next</a>
                              </li>
                            {% else %}
                              <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Next</a>
                              </li>
                            {% endif %}
                          </ul>
                         <!--end of Pagination-->
                            <div class="card text-white bg-primary mb-3" style="max-width: 15rem;">
                                  <div class="card-body">
                                    <h5 class="card-title">Total Quantity :  {{ totality.item_qty__sum }}</h5>
                                  </div>
                            </div>
                        </nav>
       </div>
</section>

        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
              <script>
                $("#id_item_name").change(function () {
                  var url = $("#ItemSearch").attr("data-cities-url");
                  var itemId = $(this).val();
                  $.ajax({
                    url: url,
                    data: {
                      'item_name': itemId
                    },
                    success: function (data) {
                      $("#id_item_model").html(data);
                    }
                  });

                });
              </script>










</body>
{% endblock mainblock %}
</html>